{% load widget_tweaks %}

{% block content %}
	<div class="box box-primary box-solid">
		<div class="box-header with-border"> <!--style="height: 30px;">-->
			<button id="add_query_btn" type="button" class="btn btn-box-tool btn-sm" style="height: 30px;"><h3 class="box-title" style="font-size:150%;">Add Dashboard Query</h3></button>
		</div>
		<div class="box-body">
			<form id="add_dashboard_query" action="{% url 'add_dashboard_query' %}" method="post">
				{% csrf_token %}
				{% for hidden_field in form.hidden_fields %}
					{{ hidden_field }}
				{% endfor %}
				<div class="col-xs-6">
					<div class="form-group">
						<label>SQL</label>
						<!--<label>Query</label>-->
						{% render_field form.query class+="form-control select2" style+="width: 100%;" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Python Function</label>
						<!--<label>Query</label>-->
						{% render_field form.python_query class+="form-control select2" style+="width: 100%;" %}
					</div>
				</div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <!--<br>-->
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                        </div>
                    </div>
			</form>
			<a href="{% url 'explorer_index' %}" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-database"></i> <span>&nbsp; Write New Query</span></a>
		</div>
	</div>
{% endblock %}
