{% load widget_tweaks %}

{% block content %}
	<div class="box box-primary box-solid"> <!--collapsed-box-->
		<div class="box-header with-border">
			<button id="add_transient_followup_btn" type="button" class="btn btn-box-tool" data-widget="collapse" style="height: 30px;"><h3 class="box-title">Add Transient Follow-up</h3></button>
			<div class="box-tools pull-right">
				<button id="add_transient_followup_btn" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
			</div>
		</div>
		<div class="box-body">
			{{ form.resource_audience_map|json_script:"yse-followup-resource-audience-map" }}
			<form id="add_transient_followup" action="{% url 'add_transient_followup' %}" method="post" onsubmit="return false;">
				{% csrf_token %}
				{% for hidden_field in form.hidden_fields %}
					{{ hidden_field }}
				{% endfor %}
				<div class="col-xs-6">
					<div class="form-group">
						<label>Follow-up Status</label>
						{% render_field form.status class+="form-control select2" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>ToO Resource</label>
						{% render_field form.too_resource class+="form-control select2" style+="width: 100%;"%}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Classical Resource</label>
						{% render_field form.classical_resource class+="form-control select2" style+="width: 100%;" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Queued Resource</label>
						{% render_field form.queued_resource class+="form-control select2" style+="width: 100%;" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Comments</label>
						{% render_field form.comment class+="form-control select2" style+="width: 100%;" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Date Range (ToO/Queue only)</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-clock-o"></i>
							</div>
							<input type="text" class="form-control pull-right" id="follow_date_range">
						</div>
						<input type="hidden" id="{{ form.valid_start.id_for_label }}" name="{{ form.valid_start.name }}"{% if form.valid_start.value %} value="{{ form.valid_start.value|date:'Y-m-d H:i:s' }}"{% endif %}>
						<input type="hidden" id="{{ form.valid_stop.id_for_label }}" name="{{ form.valid_stop.name }}"{% if form.valid_stop.value %} value="{{ form.valid_stop.value|date:'Y-m-d H:i:s' }}"{% endif %}>
					</div>
				</div>
				<!--<div class="col-xs-6">
					<div class="form-group">
						<label>Spec Priority</label>
						{% render_field form.spec_priority class+="form-control" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Phot Priority</label>
						{% render_field form.phot_priority class+="form-control" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Offset Star RA</label>
						{% render_field form.offset_star_ra class+="form-control" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Offset Star DEC</label>
						{% render_field form.offset_star_dec class+="form-control" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Offset North</label>
						{% render_field form.offset_north class+="form-control" %}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Offset East</label>
						{% render_field form.offset_east class+="form-control" %}
					</div>
				</div>-->
				<div class="col-xs-12">
					<div class="yse-audience-panel yse-followup-audience"{% if form.public_group_id %} data-public-group-id="{{ form.public_group_id }}"{% endif %}>
						<p class="yse-audience-heading text-muted"><strong>Who can see this follow-up?</strong></p>
						<div id="yse-followup-audience-groups" class="yse-audience-groups yse-followup-audience-groups">
							{% if form.show_audience_picker %}
								<p class="text-muted small">
									Select collaboration groups that can see the selected observing resource
									(default: all eligible groups checked). Check <strong>Public</strong> to share
									with everyone in the Public group (only available for public observing resources).
								</p>
								{% for choice in form.followup_audience_choices %}
								<div class="checkbox yse-followup-audience-choice" data-group-id="{{ choice.group.pk }}">
									<label class="yse-followup-audience-label{% if not choice.enabled %} text-muted{% endif %}">
										<input type="checkbox"
											name="audience_groups"
											value="{{ choice.group.pk }}"
											class="yse-followup-audience-group"
											{% if choice.checked %}checked{% endif %}
											{% if not choice.enabled %}disabled{% endif %}
											data-resource-eligible="{{ choice.enabled|yesno:'true,false' }}"
											data-is-public-group="{{ choice.is_public_group|yesno:'true,false' }}">
										{{ choice.group.name }}
									</label>
								</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<div class="yse-followup-submit-error alert alert-danger" role="alert" style="display:none; margin-top:10px;"></div>
						<br>
						<button type="button" class="btn btn-block btn-primary btn-lg yse-followup-submit-btn">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
