settings.ini
*.pyo
*.pyc
YSE_PZ/static/
.idea/
__pycache__/
*~
YSE_App/static/YSE_App/images/stamps/*
node_modules/*
*snana.dat
docs/_build/
docker_mysql/*
!docker_mysql/readme.txt
db_configuration/*.ini
docker/.env
docker/old/*