{% load static %}
{% load dashboard_extras %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content_header %}
    <h1>
        Acknowledging YSE-PZ
    </h1>
<!--    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home</li>
    </ol> -->
{% endblock %}

{% block content %}
    
<div class="row">
  <div class="col-xs-12">
  <div class="box box-primary">
    <!--<div class="box-header">
      <h3 class="box-title"></h3>
    </div>-->
    <div class="box-body">


<p style="font-size:20px">If YSE-PZ is beneficial to your research, please cite:</p>

        @software{coulter_d_a_2022_7278430,
  author       = {Coulter, D. A and
                  Jones, D. O. and
                  McGill, P. and
                  Foley, R. J. and
                  Aleo, P. D. and
                  Bustamante-Rosell, M. J. and
                  Chatterjee, D. and
                  Davis, K. W. and
                  Engel, A. and
                  Gagliano, A. and
                  Jacobson-Galán, W. V. and
                  Kilpatrick, C. D. and
                  Pan, Y.-C. and
                  Rojas-Bravo, C. and
                  Siebert, M. R. and
                  Taggart, K. L. and
                  Tinyanont, S. and
                  Wang, Q.},
  title        = {{YSE-PZ: An Open-source Target and Observation
                   Management System}},
  month        = nov,
  year         = 2022,
  note         = {{D. A. Coulter acknowledges support from the
                   National Science Foundation Graduate Research
                   Fellowship under Grant DGE1339067.}},
  publisher    = {Zenodo},
  version      = {v0.3.0},
  doi          = {10.5281/zenodo.7278430},
  url          = {https://doi.org/10.5281/zenodo.7278430}
}

<p style="font-size:20px">
<br><a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...908..143J/abstract">The Young Supernova Experiment: Survey Goals, Overview, and Operations</a>
<br>D. O. Jones, R. J. Foley, G. Narayan, J. Hjorth, M. E. Huber et al., 2021, ApJ, 908, 143
    <br><a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...908..143J/exportcitation">Bibtex</a>
</p>

<p style="font-size:20px">If you use YSE-PZ for any analysis, please include the following acknowledgments:</p>
<br>YSE-PZ was developed by the UC Santa Cruz Transients Team with support from The UCSC team is supported in part by NASA grants NNG17PX03C, 80NSSC19K1386, and 80NSSC20K0953; NSF grants AST-1518052, AST-1815935, and AST-1911206; the Gordon & Betty Moore Foundation; the Heising-Simons Foundation; a fellowship from the David and Lucile Packard Foundation to R. J. Foley; Gordon and Betty Moore Foundation postdoctoral fellowships and a NASA Einstein fellowship, as administered through the NASA Hubble Fellowship program and grant HST-HF2-51462.001, to D. O. Jones; and a National Science Foundation Graduate Research Fellowship, administered through grant No. DGE-1339067, to D. A. Coulter.
        </p>
    
<br>

<p style="font-size:20px">If you plan to publish any <i>Swift</i> photometry included here, please note that data
reductions are not finalized and please <a href="mailto:david.jones@ucsc.edu">reach out</a> to 
collaborate with our team or let us know prior to finalizing your analysis.
</p>
</div>
</div>
</div>

{% endblock %}

