{% extends 'YSE_App/base.html' %}
{% load static %}
{% load dashboard_extras %}
{% load widget_tweaks %}

{% block content_header %}
    <h1>
        Young Supernova Experiment
        <small>Dashboard</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home</li>
    </ol>
{% endblock %}

{% block content %}

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Finished Following</h3>
    </div>
    <div class="box-body">
      <table id="finishedfollowing_transient_tbl" class="table table-bordered table-hover sorttable">
        <thead>
        <tr>
          <th>Name<a class="glyphicon" href="?order_by=name&direction=asc">up</a><a class="glyphicon" href="?order_by=name&direction=desc">down</a></th>
          <th>RA</th>
          <th>DEC</th>
          <th>Disc. Date</th>
          <th>Disc. Mag</th>
          <th>Discovery Source</th>
          <th>Spec Class</th>
  	      <th>Host-<i>z</i></th>
	        <th>Internal Survey</th>
        </tr>
        </thead>
        <tbody>
        {% for t in items %}
          <tr>
            <td><span class="hidden">{{ t.name|snidsort }}</span><a href="{% url 'transient_detail' t.slug %}">{{ t.name }}</a></td>
            <td><span title="{{ t.ra }}">{{ t.CoordString.0 }}</span></td>
            <td><span title="{{ t.dec }}">{{ t.CoordString.1 }}</span></td>
            <td><span class="hidden">{{ t.disc_date|date:"y m d" }}</span>{{ t.disc_date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ t.disc_mag }}</td>
            <td>{{ t.obs_group.name }}</td>
            <td>{{ t.best_spec_class }}</td>
            <td>{{ t.host.redshift }}</td>
            <td>{{ t.internal_survey }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="pagination">
        {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}&?order_by={{order_by}}&direction={{ direction }}">previous</a></li>
        {% endif %}
        <li class="disabled"><a>Page {{ items.number }} of {{ items.paginator.num_pages }}</a></li>
        {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}&?order_by={{order_by}}&direction={{ direction }}">next</a></li>
        {% endif %}
        </ul>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
    </div>
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->

{% endblock %}

{% block scripts %}
<script>
  $( document ).ready(function(){
  $('#finishedfollowing_transient_tbl').DataTable( {
      "order": [[ 3, "desc" ]],
      "columnDefs": [
        {"type":"title-numeric","targets":1},
        {"type":"title-numeric","targets":2},
      ]
    });
  });
</script>
{% endblock %}
