{% extends 'YSE_App/base.html' %}
{% load static from staticfiles %}
{% load dashboard_extras %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}

{% block content_header %}
    <h1>
        Young Supernova Experiment
        <small>Dashboard</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home</li>
    </ol>
{% endblock %}

{% block content %}
    
  <!-- Default box -->
  {% for transient_cat in transient_categories %}
  <div class="box" id="{{transient_cat.2}}">
    <div class="box-header with-border">
      <h3 class="box-title">{{ transient_cat.1 }}</h3>
    </div>
    <div class="box-body">

      {% render_table transient_cat.0 %}

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
    </div>
    {% endfor %}
    <!-- /.box-footer-->
  </div>
  <!-- /.box -->
  
{% endblock %}
