{% extends 'YSE_App/base.html' %}
{% load static %}
{% load dashboard_extras %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content_header %}
    <h2>
        FRB Resource: 
        {{ frb_fu.NameString }}
    </h2>
    <h1>
        Summary
    </h1>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-3">
              <strong>Instrument</strong>
              <p class="text-muted">
              {{ frb_fu.InstrString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>Start</strong>
              <p class="text-muted">
              {{ frb_fu.StartString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>Stop</strong>
              <p class="text-muted">
              {{ frb_fu.StopString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>FRB Surveys</strong>
              <p class="text-muted">
              {{ frb_fu.SurveyString }}
              </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
              <strong>Max AM</strong>
              <p class="text-muted">
              {{ frb_fu.MaxAMString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>Min P(O|x)</strong>
              <p class="text-muted">
              {{ frb_fu.MinPOxString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>Min mag</strong>
              <p class="text-muted">
              {{ frb_fu.MinMagString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>Min mag</strong>
              <p class="text-muted">
              {{ frb_fu.MaxMagString }}
              </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
              <strong>N Image</strong>
              <p class="text-muted">
              {{ frb_fu.NImgString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>N Long</strong>
              <p class="text-muted">
              {{ frb_fu.NLongString }}
              </p>
            </div>
            <div class="col-xs-3">
              <strong>N Mask</strong>
              <p class="text-muted">
              {{ frb_fu.NMaskString }}
              </p>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home</li>
    </ol>
    <ol class="breadcrumb">
      <form action="{% url 'search' %}" method="get">
        <input name="q" type="text" placeholder="Name or coord. search">
      </form>
    </ol>
{% endblock %}

{% block content %}
    
    <h3>
        Pending FRBs
    </h3>
    <div class="box-body">
      {% render_table pending_table %}
    </div>
  
    {% if obs_table %}
    <h3>
        Observed FRBs
    </h3>
    <div class="box-body">
      {% render_table obs_table %}
    </div>
    
    <h3>
        Obs Log
    </h3>
    <div class="box-body">
      {% render_table obslog_table %}
    </div>

    {% endif %}
  
    {% if imaging_table %}
        <h3>
            Valid FRBs for Imaging
        </h3>

        <div class="box-body">
            {% render_table imaging_table %}
        </div>
    {% endif %}

    {% if longslit_table %}
        <h3>
            Valid FRBs for Longslit
        </h3>

        <div class="box-body">
            {% render_table longslit_table %}
        </div>
    {% endif %}

    {% if mask_table %}
        <h3>
            Valid FRBs for Masks
        </h3>

        <div class="box-body">
        {% render_table mask_table %}

        </div>
    {% endif %}
  
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
{% if anchor %}
$(document).ready(function(){
    window.location = '#{{ anchor }}'
});
{% endif %}
</script>
{% endblock %}
