{% extends 'YSE_App/base.html' %}

{% block content %}
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="{% url 'auth_login' %}" method="post" >

    	{% csrf_token %}
       <input type="hidden" name="next" value="{{ request.GET.next }}" />
      <div class="form-group has-feedback">
        <input name='username' class="form-control" type="text" placeholder="Username">
      </div>
      <div class="form-group has-feedback">
        <input name='password' type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>

{% endblock %}