{% for f in followups %}
    <div class="col-xs-12">
        {% if forloop.counter <= 1 %}
            <div class="followupbox box box-primary">
        {% else %}
            <div class="followupbox box box-primary collapsed-box">
        {% endif %}
                <div class="box-header">
                    <div class="col-xs-4">
                        <h3 class="box-title">Follow-up (id: {{f.id}})</h3>
                    </div>
                    <div class="col-xs-4">
                        <h3 class="box-title">Valid: {{ f.valid_start|date:"SHORT_DATE_FORMAT" }} - {{ f.valid_stop|date:"SHORT_DATE_FORMAT" }}</h3>
                    </div>
                    <div class="col-xs-4">
                        <h3 style="float:right;padding-right:10px" class="box-title">Last Modified: {{f.modified_by}}</h3>
                    </div>
                    <div class="box-tools pull-right">
                        {% if forloop.counter <= 1 %}
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="box-body">
                    <table id="tbl_followup_{{f.id}}" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Spec. Priority</th>
                                <th>Phot. Priority</th>
                                <th>Offset Star<br>RA</th>
                                <th>Offset Star<br>DEC</th>
                                <th>Offset North</th>
                                <th>Offset East</th>
                                <th>Attached Resource</th>
                                <th>Status</th>
                                <th>Comment</th>
                                <th>Action</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ f.spec_priority }}</td>
                                <td>{{ f.phot_priority }}</td>
                                <td>{{ f.offset_star_ra }}</td>
                                <td>{{ f.offset_star_dec }}</td>
                                <td>{{ f.offset_north }}</td>
                                <td>{{ f.offset_east }}</td>
                                <td>
                                    {% if f.too_resource %}{{ f.too_resource }}<br>{% endif %}
                                    {% if f.classical_resource %}{{ f.classical_resource }}<br>{% endif %}
                                    {% if f.queued_resource %}{{ f.queued_resource }}{% endif %}
                                </td>
                                <td>{{ f.status }}</td>
                                <td>{{ f.comment }}</td>
                                <td><a target='_blank' href="{% url 'admin:YSE_App_transientfollowup_change' f.id %}">Edit</a></td>
                                <td><a href="{% url 'delete_followup' f.id %}">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h4 class="box-title">Observation Tasks</h4>
                    <table id="tbl_obs_followup_{{f.id}}" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Obs.</th>
                                <th>Tel.</th>
                                <th>Inst.</th>
                                <th>Desired Obs.<br>Date (UTC)</th>
                                <th>Actual Obs.<br>Date (UTC)</th>
                                <th>Exp.<br>Time</th>
                                <th>Desc.</th>
                                <th># of<br>Exp.</th>
                                <th>Config. Name</th>
                                <th>Config. Detail</th>
                                <th>Status</th>
                                <th>Last<br>Modified By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in f.observation_set.all %}
                                <tr>
                                    <td>{{ o.id }}</td>
                                    <td>{{ o.instrument_config.instrument.telescope.observatory.name }}</td>
                                    <td>{{ o.instrument_config.instrument.telescope.name }}</td>
                                    <td>{{ o.instrument_config.instrument.name }}</td>
                                    <td>{{ o.desired_obs_date }}</td>
                                    <td>{{ o.actual_obs_date }}</td>
                                    <td>{{ o.exposure_time }}</td>
                                    <td>{{ o.description }}</td>
                                    <td>{{ o.number_of_exposures }}</td>
                                    <td>{{ o.instrument_config.name }}</td>
                                    <td>
                                        <ul>
                                            {% for c in o.instrument_config.configelement_set.all %}
                                                <li>{{ c.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>{{ o.status }}</td>
                                    <td>{{ o.modified_by }}</td>
                                    <td><a target='_blank' href="{% url 'admin:YSE_App_transientobservationtask_change' o.id %}">Edit</a></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan='13'></td>
                                <td><b><a class="add_task" followup_id="{{f.id}}" href="#">Add</a></b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endfor %}
