{% extends 'YSE_App/base.html' %}
{% load static %}
{% load transient_detail_extras %}

{% block content %}

<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Young Supernova Experiment
			</h1>
			<ol class="breadcrumb">
		<li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
		<li>YSE Observing Calendar (UT)</li>
	</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Observing Calendar (UT)</h3>
				</div>
				<div class="box-body">
					<div id="calendar"></div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				</div>
				<!-- /.box-footer-->
			</div>
		</section>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="{% static 'YSE_App/bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'YSE_App/bower_components/fullcalendar/dist/fullcalendar.print.min.css' %}" media="print">
  <style>
    .fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: nowrap;
    }

    .fc-title {
    white-space: normal;
    }
  </style>
  <script src="{% static 'YSE_App/bower_components/moment/moment.js' %}"></script>
  <script src="{% static 'YSE_App/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
  <script src="https://momentjs.com/downloads/moment-timezone.min.js"></script>
  <script>
  $(function () {
    //alert(moment.tz.names());

    /* initialize the external events
     -----------------------------------------------------------------*/
    function init_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    init_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
    $('#calendar').fullCalendar({
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week : 'week',
        day  : 'day'
      },
      now: "{{utc_time}}",
      events: [
        {% for obs in all_obs %}
            {
              title          : 'ZTF Fields:\n{{obs.0}}\nMoon: {{obs.2}}',
              start          : new Date({{ obs.1.year }}, {{ obs.1.month|add:"-1" }}, {{ obs.1.day }}),
              allDay         : true,
              backgroundColor: '{{obs.3}}',
              borderColor    : '{{obs.3}}',
              url: "{% url 'yse_observing_night' obs.1|date:'Y-m-d' %}",
            },
        {% endfor %}
      ],
      editable  : true,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject')

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject)

        // assign it the date that was reported
        copiedEventObject.start           = date
        copiedEventObject.allDay          = allDay
        copiedEventObject.backgroundColor = $(this).css('background-color')
        copiedEventObject.borderColor     = $(this).css('border-color')

        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove()
        }

      }
    })

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({ 'background-color': currColor, 'border-color': currColor})
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff',
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      init_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
{% endblock %}
