name: Docker image workflow

# This workflow manages the testing, building, and publishing of docker images
# On a pull request to develop:
#   If docker related files are changed, the image is test built and not published
# On a push to master with changes to dockerfiles (or a new tag is created on master):
#   The docker image is built and tagged with latest and / or new tag version

on:
  pull_request:
    branches: [develop]
    paths:
      - "docker/Dockerfile.web.dev"
      - "docker/requirements.web.dev"
  push:
    branches: [master]
    paths:
      - "docker/Dockerfile.web.dev"
      - "docker/requirements.web.dev"
    tags:
      - "*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=ghcr.io/davecoulter/yse_pz
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
            TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:latest"
          else 
            TAGS="${DOCKER_IMAGE}:latest"
          fi
     
          echo ::set-output name=tags::${TAGS}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ghcr
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./app
          file: ./app/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.prep.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max